@import '../../variables.scss';

.Admin__Header {
  > h1 {
    text-align: center;
    font-size: 2.5rem;
    color: $neutral-200;
  }
}

.Admin__Section {
  padding: 2rem;
  background-color: $neutral-800;
  border-radius: 1rem;

  display: grid;
  gap: 2rem;
}

.Admin__Form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
  > label {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    width: 100%;
  }
}

.Admin__Button {
  justify-self: center;
  cursor: pointer;
  width: 10rem;
  height: 2rem;
  background-color: $green-800;
  border: none;
  border-radius: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  > h1 {
    color: white;
    font-size: 0.75rem;
  }
}

.Admin__Starting {
  width: 100%;
}

.Admin__Add {
  width: 100%;
}

.Admin__Update {
  width: 100%;
  &__Form {
    grid-template-columns: repeat(2, 1fr);
    > label {
      > select {
        cursor: pointer;
        background-color: $neutral-900;
        border: 0;
        border-radius: 0.2rem;
        font-family: 'Montserrat', sans-serif;
        color: $neutral-50;
        padding: 0.44rem;
        min-width: 15rem;
      }
    }
  }
  &__Buttons {
    display: flex;
    gap: 2rem;
    &__Check {
      background-color: $amber-700;
    }
  }
}

.Admin__Change {
  width: 100%;
  &__Form {
    grid-template-columns: repeat(2, 1fr);
    > label {
      > select {
        cursor: pointer;
        background-color: $neutral-900;
        border: 0;
        border-radius: 0.2rem;
        font-family: 'Montserrat', sans-serif;
        color: $neutral-50;
        padding: 0.44rem;
        min-width: 15rem;
      }
    }
  }
}
.Admin__Tables {
  width: 100%;

  &__Applicaiton {
    overflow-x: auto;
    border: 2px solid $neutral-900;
    &__Table {
      width: auto;

      > table,
      th,
      td {
        padding: 0.5rem;
        border-collapse: collapse;
        width: 100vw;
        border: 1px solid $neutral-700;
      }
    }
  }
}
