@import '../src/variables';

.App {
  position: relative;
  display: grid;
  grid-template-columns: 100%;
  justify-items: center;
  align-items: start;

  padding: 0 5%;
  max-width: 100vw;
  min-height: 100vh;
  background-color: $neutral-900;
  color: $neutral-50;

  font-family: 'Montserrat', sans-serif;
}
