@import '../../../../variables';

.Form__Organization {
  display: grid;
  gap: 1rem;

  &__title {
    justify-self: self-start;
    color: $neutral-500;
    font-weight: 500;
    font-size: 1.5rem;
  }
  &__container {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(4, 1fr);
    > label {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
      width: 100%;
      > select {
        cursor: pointer;
        background-color: $neutral-900;
        border: 0;
        border-radius: 0.2rem;
        font-family: 'Montserrat', sans-serif;
        color: $neutral-50;
        padding: 0.44rem;
        min-width: 15rem;
      }
    }
  }

  &__line {
    justify-self: center;
    border-radius: 2px;
    height: 0.1rem;
    width: 100%;
    background-color: $neutral-600;
  }

  > p {
    color: $red-600;
    font-style: italic;
  }
}
