@import '../../../../variables';

.Form__Organization {
  display: grid;
  gap: 1rem;

  &__title {
    justify-self: self-start;
    color: $neutral-500;
    font-weight: 500;
    font-size: 1.5rem;
  }
  &__container {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(4, 1fr);
    > label {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
      width: 100%;
    }
  }
}
