@import '../../../../variables';

.Form__Education {
  display: grid;
  gap: 1rem;

  &__title {
    justify-self: self-start;
    color: $neutral-500;
    font-weight: 500;
    font-size: 1.5rem;
  }

  &__container {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(3, 1fr);
    > h1 {
      grid-column: 1/4;
      font-size: 1rem;
      font-weight: 500;
      color: $neutral-500;
    }
    > label {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
      width: 100%;
    }
  }

  &__line {
    justify-self: center;
    border-radius: 2px;
    height: 0.1rem;
    width: 100%;
    background-color: $neutral-600;
  }

  > p {
    color: $red-500;
    font-style: italic;
  }
}
