@import '../../variables';

.Header {
  > h1 {
    font-family: 'Montserrat', sans-serif;
  }
}

.Hero {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  &__About {
    border-radius: 1rem;
    background-color: $neutral-800;
    padding: 2rem;
    > p {
      line-height: 2.5;
    }
  }
  &__Rules {
    border-radius: 1rem;
    background-color: $neutral-800;
    padding: 2rem;
    max-width: 100%;
    line-height: 2.5;
  }
}
